@font-face {
    font-family: "Custom Font";
    src: url(images/AgencyFB-Bold.ttf);

}




header{
    border-bottom: 3px solid black;
    width: auto;
    height: 7em;     
}

.backgroundImage{
    width: 30%;
    height: auto;
    filter: grayscale(100%);
    float: left;
    
    
}


body, html {
    background-image: url(images/achtergrond-website-verkleind.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:auto; 
    margin:0;
    font-family: "Custom Font";
    display: static;
}


nav {
    padding: 2%;
    right:0;
    height: 50%;
    position: fixed;
   

}


#nav{
    margin-top: 15px;
    float:right;
    color:black;
    font-size: 1.5em;
    text-decoration: none;
    padding:5px;

}


#nav:hover{
    background-color:rgb(204, 254, 254);
    border-radius: 18px;
    outline: 1px solid black;
    transition: all 350ms linear;
    display:inline-block;
    padding:6px;
    
}

.active{
    background-color:rgb(204, 254, 254);
    border-radius: 18px;
    outline: 1px solid black;
    display:inline-block;


}

footer{

    
}

