@font-face {
    font-family: "Custom Font";
    src: url(images/AgencyFB-Bold.ttf);

}



header{

}

.backgroundImage{
    width: 30%;
    height: auto;
    filter: grayscale(100%);
    
}


html, body {
    background-image: url(images/achtergrond-website-verkleind.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:auto; 
    margin:0;
    font-family: "Custom Font";
}


nav {
    margin-top: 10%;
    right:0;
    width: 12.5%;
    height: 40%;
    z-index: 1 !important;
    position: absolute;
    outline: 2px solid;
    background-color: #00BBFF;
    border-radius: 15px;
   

}


#nav{
    margin-top: 15px;
    float:right;
    color:black;
    font-size: 1.5em;
    text-decoration: none;

}


#nav:hover{
    background-color:azure;
    border-radius: 16px;
    outline: 3px solid black;
    transition: all 350ms linear;
    display:inline-block;
    
}

.active{
    background-color:azure;
    border-radius: 16px;
    outline: 3px solid black;
    display:inline-block;


}

footer{

    
}